<div class="main-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="align-items: center;">
        <h2>Portal de control de tanqueros</h2>
      </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="saveDetails(form)" autocomplete="off">
        <div>
          <mat-form-field appearance="outline" class="inputWidth" style="width: 20rem !important;">
            <mat-label>Usuario</mat-label>
            <input matInput type="text" formControlName="userName">
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="form.controls['userName'].errors">Valor incorrecto</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="inputWidth" style="width: 20rem !important;">
            <mat-label>Contraseña </mat-label>
            <input matInput [type]="flag ? 'password' : 'text'" formControlName="password">
            <mat-icon (click)="flag=!flag" matSuffix>{{ flag ? 'visibility' : 'visibility_off' }}</mat-icon>
            <mat-error *ngIf="form.controls['password'].errors">
              Valor incorrecto
            </mat-error>
          </mat-form-field>
        </div>

        <mat-card-actions align="end">
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Ingresar</button>
        </mat-card-actions>

      </form>
    </mat-card-content>
  </mat-card>

</div>
